* {
    box-sizing: border-box;
}

.usuario {
    display: flex;
    
}

.usuario h1 {
    font-family: 'Caveat Brush';
    font-size: 2em;
}

.usuario i {
    font-size: 4em;
    display: block;
    padding: 10px;
}

.menu {
    background-color: #FFF6A9;
    width: 25%;
    align-items: start;
    display: flex;
    flex-direction: column;
    left: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.nav-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-top: 20px;
}

.nav-items a {
    text-decoration: none;
}

.nav-items a li {
    display: block;
    cursor: pointer;
    color: #7F7826;
    font-family: 'Caveat Brush';
    font-size: 2em;
    left: 0;
}

.nav-items a li:hover {
    background-color: #f4ea8f;
}

footer {
    display: flex;
    bottom: 30px;
    position: inherit;
    flex-direction: row;
}

footer i {
    font-size: 2em;
    font-family: 'Caveat Brush';
    text-decoration: none;
    color: #000;
}

footer button {
    background-color: #F5E62D;
    border: none;
    width: 150px;
    height: 50px;
    right: 0;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.25);
    color: #000;
    font-size: 1.5em;
    font-family: 'Caveat Brush';
    cursor: pointer;
    transition: all 300ms ease 0ms;
}

footer button:hover {
    background-color: #F90303;
    color: #ffffff;
    transform: translateY(-7px);
}

.general {
    right: 0;
    top: 0;
    width: 75%;
    position: absolute;
    padding: 15px;
    flex-direction: column;
}

.general h2 {
    font-family: 'Caveat Brush';
    font-size: 2.5em;
}

.datos {
    right: 0;
    top: 0;
    width: 75%;
    position: absolute;
    display: flex;
    padding: 15px;
    flex-direction: column;
    z-index: 1;
}

.datos h2 {
    font-family: 'Caveat Brush';
    font-size: 2.5em;
}

.datos table {
    width: 90%;
    align-items: center;
    border: 1px solid #5E5E5E;
    background-color: #fffdef;
}

.datos th {
    font-family: 'Caveat Brush';
    font-size: 1.5em;
}

.datos td {
    font-family: 'Droid Sans', sans-serif;
}

.datos th, td {
    width: 20%;
    vertical-align: top;
    border: 1px solid #5E5E5E;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0.3em;
}

.btn-edit {
    display: flex;
    justify-content: center;
    width: auto;
}

.datos td a {
    color: #000;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 10px;
    background-color: #F5E62D;
    font-family: 'Caveat Brush';
    font-size: 1.2em;
    width: 80px;
    padding: 0.2em;
    transition: all 300ms ease 0ms;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.datos td a:hover {
    color: #ffffff;
    background-color: #F90303;
    transform: translateY(-4px);
}

.domicilio {
    right: 0;
    top: 0;
    width: 75%;
    position: absolute;
    padding: 15px;
    flex-direction: column;
}

.domicilio h2 {
    font-size: 2.5em;
    font-family: 'Caveat Brush';
}

.pass {
    right: 0;
    top: 0;
    width: 75%;
    position: absolute;
    padding: 15px;
    flex-direction: column;
}

.pass h2 {
    font-family: 'Caveat Brush';
    font-size: 2.5em;
}

.priv {
    right: 0;
    top: 0;
    width: 75%;
    position: absolute;
    padding: 15px;
    flex-direction: column;
}

.priv h2 {
    font-family: 'Caveat Brush';
    font-size: 2.5em;
}



